.header{
    background: $dark-blue;

}

.header__contant{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $s-size 0;
}

.header__title{
    color:white;
    text-decoration: none;//make the text clear the text dercoretion that now have under-line
    h1{
        margin: 0;//remove the margin in the Link Element
    }
}